body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}
.header {
    background-color: #1f2937;
    height: 52px;
    color: white;
}
.section-one {
    background-color: #1f2937;
    color: white;
    height: 300px;
}
.section-two {
    background-color: white;
    color: #1f2937;
    height: 300px;
}
.section-three {
    background-color: #e5e7eb;
    height: 300px;
    color: #1f2937;
}
.section-four {
    background-color: white;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-section{
    background-color: #3882f6;
    border-radius: 5px;
    max-width: 1200px;
    min-width: 570px;
    height: 100px;
    display: flex;
    flex: 1;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}
button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: 100px;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuatro-text {
    margin-right: auto;
}
h3 {
    margin: 0;
}
p {
    margin: 0;
}