body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}
.header {
    background-color: #1f2937;
    height: 52px;
    color: white;
}
.section-one {
    background-color: #1f2937;
    color: white;
    height: 400px;
}
.section-two {
    background-color: white;
    color: #1f2937;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section-box {
    display: flex;
}
.section-tt {
    margin-bottom: auto;
    margin-top: 30px;
}
.bb-box-one {
    font-size: 12px;
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.blue-border {
    border: 3px solid #3882f6;
    height: 125px;
    width: 125px;
    border-radius: 7px;
}

.section-three {
    background-color: #e5e7eb;
    height: 400px;
    color: #1f2937;
}
.section-four {
    background-color: white;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-section{
    background-color: #3882f6;
    border-radius: 5px;
    max-width: 1000px;
    min-width: 570px;
    height: 125px;
    display: flex;
    flex: 1;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}
button {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: 100px;
    cursor: pointer;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuatro-text {
    margin-right: auto;
}
.blue-bold {
    font-weight: bold;
    font-size: 20px;
}
.blue-reg {
    font-size: 14px;
}